<h1>Cadastrar Novo Livro</h1>
<h3>Insira os dados do livro</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.books_path(@conn, :create_register)) %>

<span><%= link "Back", to: Routes.books_path(@conn, :index) %></span>
