<h1>Cadastrar Novo Livro</h1>
<h3>Escolha a Categoria</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.subcategories_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>